<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        
    <!-- MOSTRAR UM BOTÃO QUE MOSTRA AS INTERAÇÕES DISPONÍVEIS NO SITE  -->
    <!-- OLHAR O FIGMA -->


    <main>

        <h1>About me.</h1>

        <!-- Ao clicar nas div's, expandir um pop-up, sendo uma janela centralizada, contendo algumas informações a mais, e também bordas com shadow -->

        <!-- Mostrar o início de tudo, como foi o processo de formação de interesse pela área da tecnologia (exemplificar com algumas fotos ou somente uma) -->

        <div class="content">

            <div class="text1">

                <img src="" alt="my photo">

                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae minima sunt non voluptate a ut nulla illum. Quidem quos ipsam corrupti. Iste vel, optio blanditiis adipisci nobis accusamus nam!
                </h3>

            </div>


            <!-- MSI - falar da minha formação técnica no ETEPAM (procurar uma foto na escola) -->
            <div class="text2">

                <img src="" alt="my photo in school">

                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aliquid voluptatibus sit quasi aliquam voluptatum, nihil, cumque excepturi mollitia earum inventore sapiente ducimus odio iusto velit ea amet illum accusantium.
                </h3>

            </div>

            <!-- Graduação em ADS: O que eu vi e aprendi de lá. Assuntos passados como arquitetura de redes, arquitetura de computadores, arquitetura de serviços, design centrado no ser humano (cadeiras da faculdade) -->
            <div class="text3">

                <img src="" alt="my photo at UNINASSAU">

                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestias voluptate illo veniam at ea earum officia omnis soluta quasi libero repudiandae eveniet ipsum nihil atque voluptatibus, sunt nam cupiditate?
                </h3>

            </div>

            <!-- Prepara Cursos: Mostrar o Curso em que estou fazendo de C#, coisas que aprendi lá -->
            <div class="text4">

                <img src="" alt="My photo at Prepara Cursos">

                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consectetur veniam asperiores praesentium officia quisquam quia nihil odio eaque minima nulla a quis corrupti magni. Laboriosam cumque perspiciatis culpa corrupti?
                </h3>

            </div>


            <!-- Mostrar o que estou buscando de conhecimento atualmente -->
            <div class="text5">

                <!-- imagem minha mechendo no pc -->
                <img src="" alt="My photo at pc">

                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, eaque maiores quas quod ea beatae sequi quisquam perspiciatis consectetur dolorum obcaecati vel exercitationem temporibus earum aspernatur voluptatum accusamus a quam.
                </h3>

            </div>

        </div>

    </main>
</body>
</html>