<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="id=device-wclassthid initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        
    <!-- MOSTRAR UM BOTÃO QUE MOSTRA AS INTERAÇÕES DISPONÍVEIS NO SITE  -->
    <!-- OLHAR O FIGMA -->


    <main>

        <h1>About me.</h1>

        <!-- Ao clicar nas div's, expandir um pop-up, sendo uma janela centralizada, contendo algumas informações a mais, e também bordas com shadow -->

        <!-- Mostrar o início de tudo, como foi o processo de formação de interesse pela área da tecnologia (exemplificar com algumas fotos ou somente uma) -->

        <div class="content">

            <div id="div_text" onclick="div_animation()" >

                <img src="" alt="my photo">

                <h3>
                    Interesse na área de tecnologia
                </h3>

            </div>


            <!-- MSI - falar da minha formação técnica no ETEPAM (procurar uma foto na escola) -->
            <div id="div_text">

                <img src="" alt="my photo in school">

                <h3>
                    ETEPAM
                </h3>

            </div>

            <!-- Graduação em ADS: O que eu vi e aprendi de lá. Assuntos passados como arquitetura de redes, arquitetura de computadores, arquitetura de serviços, design centrado no ser humano (cadeiras da faculdade) -->
            <div id="div_text">

                <img src="" alt="my photo at UNINASSAU">

                <h3>
                    UNINASSAU
                </h3>

            </div>

            <!-- Prepara Cursos: Mostrar o Curso em que estou fazendo de C#, coisas que aprendi lá -->
            <div id="div_text">

                <img src="" alt="My photo at Prepara Cursos">

                <h3>
                    PREPARA CURSOS
                </h3>

            </div>


            <!-- Mostrar o que estou buscando de conhecimento atualmente -->
            <div id="div_text">

                <!-- imagem minha mechendo no pc -->
                <img src="" alt="My photo at pc">

                <h3>
                    BUSCA DE CONHECIMENTO
                </h3>

            </div>

        </div>

    </main>
</body>
</html>