*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 8vh;
    background: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title{
    padding-right: 570px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.title b{
    color: red;

}

.nav-items{
    width: 445px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-right: 100px;

    li{
        display: flex;
        list-style: none;
    }
}

.nav-items b{
    color: red;
}

a{
    text-decoration: none;
}



main{
    background: rgb(1, 1, 1);
    height: 566px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 0px 100px;
}

.main-separator{
    padding-top: 60px;
    height: 70%;
    width: 60%;
    display: inline-block;
}
.main-separator-title{
    padding-bottom: 20px;

    h1{
        font-size: 50px;
    }

    h1 b{
        font-weight: bold;
        color: red;    
    }

    ul{
        display: flex;
        padding-left: 20px;
        gap: 25px;
    }

    li:hover{
        cursor: default;
        opacity: 50%;
    }
    
}
.main-separator-text{
    padding-bottom: 20px;
}

.contacts{
    display: flex;
    gap:15px;
    padding-bottom: 10px;
}

.fa{
    font-size: 25px;
    width: 50px;
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
}
.fa:hover{
    cursor: pointer;
    opacity: 0.7
}

button{
    border-radius: 100px;
    height: 40px;
    width: 120px;
    background-color: red;
    border: none;
}

button:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(100,0,0));

}

.img{
    height: 70%;
    width: 40%;
    background-color: red;
    display: inline-block;
}