<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        
        <nav>

            <a class="title"  href="/">Portfolio.</a>

            <ul class="nav-items">
                <li><a href="/" ><b>Home</b></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">To Learn</a></li>
                <li><a href="#"><b>AI</b></a></li>
            </ul>

        </nav>

    </header>




    <main>

        <div class="main-separator">

            <div class="main-separator-title">

                <h1>Hi, It's <b>Allyson</b></h1>

                <ul>

                    <li>Know who I'm</li>
                    <li>Projects</li>
                    <li>Educations</li>
                    <li>Learning</li>
                    <li>Much more</li>

                </ul>

            </div>

            <div class="main-separator-text">

                <h4>
                
                    <p>
                        
                        I'm looking for formate a new habits and this web site it's one of my task to improovement on programming. I'm trying to modify this site every day, with the exception of Saturday. It's so dificult to me, but i'll not give up. I'm gonna make a lot of contribuitions to society, i hope.

                    </p>
                    
                </h4>

            </div>

            <div class="buttons">

                <div class="current-studies-button">

                        <button>
                            Download CV
                        </button>
                </div>

                <div class="contacts">

                    <img src="" class="fa fa-linkedin">
                    <img src="" class="fa fa-github">
                    <img src="" class="fa fa-instagram">
                    <img src="" class="fa fa-twitter">

                </div>


            </div>

        </div>

        <div class="img">
            
            <img src="/assets/imgPerfil.jpeg" alt=""><!--Imagem não está sendo renderizada-->

        </div>
            
    </main>


    <footer>

    </footer>

</body>
</html>