nav{
    padding-top: 20px;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

b{
    color: rgba(5, 119, 66, 0.87);
}

.title{
    padding-right: 630px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.nav-items{
    width: 445px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-right: 100px;

    li{
        display: flex;
        list-style: none;
    }

    a{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    a:hover{
        opacity: 0.7;
    }
}

a{
    text-decoration: none;
}



main{
    height: 566px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 0px 100px;
}

.main-separator{
    padding-top: 90px;
    height: 70%;
    width: 60%;
    display: inline-block;
}
.main-separator-title{
    padding-bottom: 20px;

    h1{
        font-size: 50px;
    }

    ul{
        display: flex;
        padding-left: 20px;
        gap: 25px;
    }

    li{
        transition: transform .2s;
    }

    li:hover{
        cursor: default;
        color: rgba(5, 119, 66, 0.87);
        opacity: 2;
        transform: scale(1.1);
    }
    
}
.main-separator-text{
    padding-bottom: 20px;
}

.buttons{
    display: flex;
    gap: 30px;
}

.contacts{
    padding-top: 5px;
    display: flex;
    gap:15px;
    padding-bottom: 10px;
}

.fa{
    font-size: 25px;
    width: 50px;
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
    transition: transform .2s;
}
.fa:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.1);
}

button{
    border-radius: 100px;
    height: 40px;
    width: 120px;
    background-color: rgba(5, 119, 66, 0.87);;
    border: none;

    a{
        background-color: transparent;
    }
}

button:hover{
    cursor: pointer;
    opacity: 0.7;

}

.img{
    height: 70%;
    width: 35%;
    display: inline-block;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 60%;
    filter: drop-shadow(0 0 0.75rem rgba(5, 119, 66, 0.87));
}