<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Utilizar outra fonte, pois troquei de browser -->
        <script src="https://kit.fontawesome.com/3adc12be20.js" crossorigin="anonymous"></script>

        <title>Document</title>
    </head>

    <!-- MOSTRAR UM BOTÃO QUE MOSTRA AS INTERAÇÕES DISPONÍVEIS NO SITE  -->

    <body>
        
        <header>
            
            <nav>

                <a class="title"  href="/">Resume.</a>

                <ul class="nav-items">

                    <li><a href="/"><b>Home</b></a></li>

                    <li><a href="#">About</a></li>

                    <li><a href="#">Projects</a></li>

                    <li><a href="#">To Learn</a></li>
                    
                    <li><a href="#"><b>AI</b></a></li>

                </ul>

            </nav>

        </header>




        <main>

            <div class="main-separator">

                <div class="main-separator-title">

                    <h1>Hi, It's <b>Allyson</b></h1>

                    <ul>

                        <li>Know who I'm</li>
                        <li>Projects</li>
                        <li>Educations</li>
                        <li>Learning</li>
                        <li>Much more</li>

                    </ul>

                </div>

                <div class="main-separator-text">

                    <h4>
                    
                        <p>
                            
                            I'm looking for formate a new habits and this web site it's one of my task to improovement on programming. I'm trying to modify this site every day, with the exception of Saturday. It's so dificult to me, but i'll not give up. I'm gonna make a lot of contribuitions to society, i hope.

                        </p>
                        
                    </h4>

                </div>

                <div class="buttons">

                    <div class="current-studies-button">

                            <button>

                                <a href="/assets/AllysonCurriculo.pdf" download>Download CV</a>
                                
                            </button>
                    </div>

                    <div class="contacts">


                        <a href="https://www.linkedin.com/in/allysonalbuquerque/" target="_blank">

                            <i class="fa-brands fa-linkedin">linkedin</i>

                        </a>

                        <!-- Não está funcionando | não está sendo encaminhado | será esse o motivo do estar mostrando um ícone de uma página vazia ao lado das img's?  -->
                        <a href="https://github.com/AndreAllyson" target="_blank">

                            <i class="fa-brands fa-square-github">github</i>
                            
                        </a>

                        <!-- Não está funcionando | não está sendo encaminhado | será esse o motivo do estar mostrando um ícone de uma página vazia ao lado das img's?  -->
                        <a href="https://www.instagram.com/anndreallyson/" target="_blank">

                            <i class="fa-brands fa-square-instagram">instagram</i>

                        </a>

                        <!-- Não está funcionando | não está sendo encaminhado | será esse o motivo do estar mostrando um ícone de uma página vazia ao lado das img's?  -->

                        <a href="https://x.com/AndrAllyso69379" target="_blank">
                            
                            <i class="fa-brands fa-square-x-twitter">twitter</i>

                        </a>

                        <!-- Deve ser por conta que é uma imagem que está esperando uma foto dentro do arquivo de um projeto e não uma âncora que vai levar à outra página -->

                        <!-- Por esse motivo é necessário por uma âncora!!! -->

                    </div>

                </div>

            </div>

            <div class="img">
                
                <!--Imagem não está sendo renderizada | Resolvido -> /assets/img.jpeg ; colocar a raiz em que a foto se encontra, sem a necessidade de descrever todo o caminho até chegar à raiz-->
                <img src="/assets/imgPerfil.jpeg" alt="">

            </div>
                
        </main>


        <footer>

        </footer>

        <!-- Verificar como é feito a linkagen de componentes -->

    </body>
</html>