<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>

        <div id="header">

            <div class="name">My <div class="name2">Port</div></div>
            <div class="home"><b>Home</b></div>
            <div class="education">Education</div>
            <div class="projects">Projects</div>
            <div class="contact">Contact</div>

        </div>

    </header>

    <main>

        <div class="main-separator">

            <div class="main-separator-title">

                <h3>Hello there</h3>
                <h1>I'm André <b>Allyson</b></h1>
                <h4>Wellcome to my portfolio.</h4>

            </div>

            <div class="main-separator-text">

                <h4>
                    Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Voluptatum eaque ratione ab voluptas eum
                    dolor ut voluptates fugiat inventore exercitationem porro
                    rerum amet, alias repellat, doloribus tempora excepturi
                    cupiditate cumque.
                    <br> <!--Por enquanto manter o br para futuramente retirar-->
                    Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Voluptatum eaque ratione ab voluptas eum
                    dolor ut voluptates fugiat inventore exercitationem porro
                    rerum amet, alias repellat, doloribus tempora excepturi
                    cupiditate cumque.
                </h4>

            </div>
                

            <br>


            <div class="contacts">

                <img src="" alt="linkedin">
                <img src="" alt="github">
                <img src="" alt="instagram">

            </div>

            <div class="current-studies-button">
                <button>
                    Current studies
                </button>
            </div>
            

        </div>

        <div class="img">
            
            <img src="/src/assets/WhatsApp Image 2025-05-07 at 11.54.37 PM.jpeg" alt=""><!--Imagem não está sendo renderizada-->

        </div>
            
    </main>


    <footer>

    </footer>

</body>
</html>
